<div align="center" style="margin-top: 10%;">
  <h3>Envoyez-nous un message</h3>

  <%= simple_form_for @contact  do |f| %>
    <%= f.input :name, label: 'Name : ', :required => true %>
    <%= f.input :email, label: 'Email : ', :required => true %>
    <%= f.input :comment, label: 'Message : ', :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Envoyer le message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>